<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <script type="text/javascript" href="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script>
          $(document).ready(function(){
            
            $.sanitize = function(input) {
              /*
              var output = input.replace(/<script[^>]*?>.*?<\/script>/gi, '').
                    replace(/<[\/\!]*?[^<>]*?>/gi, '').
                    replace(/<style[^>]*?>.*?<\/style>/gi, '').
                    replace(/<![\s\S]*?--[ \t\n\r]*>/gi, '');
                return output;
              */
              return input.replace(/<(|\/|[^>\/bi]|\/[^>bi]|[^\/>][^>]+|\/[^>][^>]+)>/g, '');
            };
            $("form").submit(function(event){
              event.preventDefault();
              const formData = {
                username: $.sanitize($('#inputUsername').val()),
                password: $.sanitize($('#inputPassword').val()),
              };
              $.ajax({
                  url: "/dologin",
                  type: "POST",
                  data: JSON.stringify(formData),
                  dataType: 'json',
                  accept: "application/json; charset=utf-8", 
                  contentType: 'application/json; charset=utf-8',
                  success: function(data, textStatus, jqXHR)
                  {
                    console.log(data.login_result)
                    if (data.login_result){
                      $(location).attr('href','/dashboard');
                    }else{
                      alert("Unable to login. Please check if your username and password is correct. If not please register first.")
                    }
                  },
                  error: function (jqXHR, textStatus, errorThrown)
                  {
                    console.log(errorThrown)
                    console.log(textStatus)
                    alert("Error: "+errorThrown+"\n"+"Text Status:"+textStatus)
                  }
              });
            });
          });
          </script>
    </head>
    <body>
        <div class="container">
          <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
              <div class="card card-signin my-5">
                <div class="card-body">
                  <h5 class="card-title text-center">Login</h5>
                  <form class="form-signin">
                    
                    <div class="form-label-group">
                      <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                      <label for="inputUsername">Username</label>
                    </div>
      
                    <div class="form-label-group">
                      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                      <label for="inputPassword">Password</label>
                    </div>
                    
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                    <hr class="my-4">
                    <a class="btn btn-lg btn-primary btn-block text-uppercase" href="/register" role="button">Register</a>

                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </body>
</html>